use Mix.Config

# Configure your database
config :ridex, Ridex.Repo,
  username: "YOUR DB USERNAME",
  password: "YOUR DB PASSWORD",
  database: "DATABASE NAME",
  hostname: "localhost",
  show_sensitive_data_on_connection_error: true,
  pool_size: 10
